/**
*Contenteditor.css
* @author TemplateToaster
*/
.wp-admin .editor-styles-wrapper .ttr_home_html_row0
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_home_html_column00
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column01
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column02
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column03
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_row1
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_home_html_column10
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column11
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column12
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column13
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_row2
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_home_html_column20
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column21
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column22
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column23
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_row3
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_home_html_column30
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column31
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column32
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column33
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_row4
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_home_html_column40
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column41
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}

.wp-admin .editor-styles-wrapper .ttr_home_html_row2
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;margin:0 0 0 0;
background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 0 0 0;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column20
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column21
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column22
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column23
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_row3
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;margin:0 0 0 0;
background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 0 0 0;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column30
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column31
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column32
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column33
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_row4
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;margin:0 0 0 0;
background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 0 0 0;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column40
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 0 0 0;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column41
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 0 0 0;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}

.wp-admin .editor-styles-wrapper .ttr_home_html_row2
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;margin:0 0 0 0;
background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 0 0 0;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column20
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column21
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column22
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column23
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_row3
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;margin:0 0 0 0;
background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 0 0 0;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column30
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column31
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column32
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column33
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_row4
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;margin:0 0 0 0;
background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 0 0 0;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column40
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 0 0 0;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column41
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;margin:0 0 0 0;
padding:0 0 0 0;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}

